.classe-1 {
    color: #839db6;
    font-size: 32px;
    text-align: center;
}

.botao {
    background-color: #829db0;
    color: #fff;
    padding: 10px 20px;
}

.classe-2 {
    color: rgb(249, 249, 251);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
    background-color: rgb(250, 255, 253);
}

body {
    background-color: #f9ed0deb;
    color: #1f1f1fe7;
    font-family: Verdana,Arial, Helvetica, sans-serif;
    line-height: 1.6;
}
h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(253, 248, 248);
    background-color: #09580d;
}
h1 { font-size: 40px; letter-spacing: 1px; 
    color: #fff;
    background-color: #09580d;}
h2 { text-transform: uppercase; letter-spacing: 2px; }
.etiqueta { font-family: Verdana, sans-serif; font-size: 12px; }

h3 {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(22, 23, 22);
    font-size: 20px; letter-spacing: 1px;
}
