body {
    background-color: #eda31a;
    color: #0a090a;
    font-family: Verdana, Arial;
    line-height: 1.6;
    text-align: justify;
}
h1 {
    background-color: #efea56fe;
}
h2 {
    background-color: #fef84dfe;
}